.profile_section{
	background-color:#E0ECF8;
	display:flex;
	flex-direction: column;
	height:28%;
}

.image_section{
	
	display:flex;
	justify-content:center;
	align-items:center;
	height: 86%;
}

.peopleImg{
	width: 140px;
	height: 140px;
	
}

.private_section{
	height: 100%;
	background-color: #FFFFFF;
}

.badge_section{
	display:flex;
	flex-direction:row;
}

#isNew{
	margin-left:10px;
}

#isLongtermNo{
	margin-left:10px;
}

.inputdiv{
	margin:15px 15px;
	color: #7E878B;
	font-size: 14px;
}

.inputdiv input{
  	border: none;
 	border-bottom: 1px solid #CCC;
 	margin-bottom: 12px;
}

textarea{
	margin-bottom: 12px;
}

.update_attend{
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	width:85%;
	padding:5px;
	padding-bottom:9px;
	margin:10px auto;
	border:1px solid #CCC;
	border-radius: 20px;
}

