body{
		background-color: #F0F5F5; 		
		font-family: 'Spoqa Han Sans Neo', 'sans-serif';	
		overflow-x: hidden;
	}
	
	/* 드래그시 영역선택되는거 색 안보이게*/
	::selection {

		color:none;
		background:none;
		
	}
	
	/* 헤더 */
	.main_header{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #FFFFFF;
		height: 7%;
		display:sticy;
	}
	
	#main_text{
		position:absolute;
		flex-grow:1;
		text-align:center;
		margin-top:auto;
		margin-bottom:auto;	

	}
	
	#personal_btn{
		position:absolute;
		right:5%;
		font-size:30px;
		color: #808080;
		
	}
	
	/* 메뉴 nav */
	
	.menu{
		display:flex;
		background-color: #FFFFFF;
		margin-top: 0.3%;
		flex-direction: column;
	}
	
	.menu_nav{
		display:flex;
		width: 100%;
		height: 50px;
		overflow-x:auto; /*기본 스크롤 상태*/
		padding-left:0px;
		padding-right:0px;
/* 		border-bottom: 5.5px solid #e6e6e6; */
		background-color:white;
		margin-color:white;
		text-align:center;
		
	}

	.menu_nav::-webkit-scrollbar{ /*스크롤 기능은 유지하면서 스크를바는 없애기*/
		display:none;
	}
	
	.menu_li{
		display:inline-block;
		flex-grow:1;
		list-style:none;
		margin:5 auto 0 auto;
		font-size: 17px;
		color:#808080;
		font-weight:bold;
		
	}