<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainDao">
	
	<!-- 소속정보 및 권한 얻기 -->
	<select id="getUserBelongInfo" resultType="GPIDto" parameterType="String">
		SELECT /* 소속정보 및 권한 얻기  */
			CHURCH_CODE,
			GOD_PEOPLE_NAME,
			PART_NAME,
			SELL_NAME,
			ACCESS_LEVEL,
			VOLUN_PART_NAME,
			VOLUN_PART_SELL,
			ID
		FROM
			GOD_PEOPLE_INFO
		WHERE
			ID = #{id}
	</select>
	
	<!-- 교회정보겟 -->
	<select id="getChurchInfo" resultType="ChurchDto" parameterType="String">
		SELECT /* 교회정보 셀렉트 */
		 	CHURCH_CODE,
			CHURCH_NAME,
			CHURCH_IMG_PATH,
			CHURCH_COMMENT
		FROM
			CHURCH_INFO
		WHERE 
			CHURCH_CODE = #{code}
	</select>
	
	<!-- 소속부서 셀정보겟 -->
	<select id="getSellList" resultType="SellDto" parameterType="GPIDto">
		SELECT /* 소속부서 셀리스트 셀렉트*/
			PART_NAME,
			SELL_NAME,
			SELL_IMG_PATH
		FROM
			SELL_INFO
		WHERE
			CHURCH_CODE = #{church_code}
			AND PART_NAME = #{part_name}
	</select>
	
	<!-- 봉사부서 셀정보겟 -->
	<select id="getVolunSellList" resultType="SellDto" parameterType="GPIDto">
		SELECT /* 봉사부서 셀리스트 셀렉트 */
			PART_NAME,
			SELL_NAME,
			SELL_IMG_PATH
		FROM
			SELL_INFO
		WHERE
			CHURCH_CODE = #{church_code}
			AND PART_NAME = #{volun_part_name}
	</select>
	
	<!-- id의 셀정보 겟 -->
	<select id="getSellInfo" resultType="SellDto" parameterType="String">
		SELECT /* id의 셀정보 셀렉트*/
			SI.SELL_NAME,
			SI.SELL_LEADER_NAME,
			SI.SELL_IMG_PATH,
			SI.PART_NAME,
			SI.CHURCH_CODE,
			SI.ATT_DAY_OF_WEEK
		FROM
			SELL_INFO SI,
			GOD_PEOPLE_INFO GPI
		WHERE
			SI.CHURCH_CODE = GPI.CHURCH_CODE
			AND GPI.ID = #{id}
			AND SI.SELL_NAME = #{sell}
			AND SI.PART_NAME = #{part}
	</select>
	
	<!-- 셀원목록 -->
	<select id="getSellPeopleList" resultType="GPIDto" parameterType="String">
		SELECT /*셀원목록*/
			GOD_PEOPLE_NAME,
			BIRTHDAY,
			IMG_PATH,
			GENDER
		FROM
			GOD_PEOPLE_INFO
		WHERE
			PART_NAME = #{part}
			AND SELL_NAME = #{sell}
			AND CHURCH_CODE = ( 
				SELECT
					CHURCH_CODE
				FROM
					GOD_PEOPLE_INFO
				WHERE 
					ID = #{id}
			)
	</select>
	
	<!-- 셀원추가시 교인검색 -->
	<select id="getNoSellPeople" resultType="GPIDto" parameterType="String">
		SELECT /*셀인원으로 추가할 수 있는 사람 목록*/
			GOD_PEOPLE_NAME,
			BIRTHDAY
		FROM
			GOD_PEOPLE_INFO
		WHERE 
			CHURCH_CODE = #{church_code}
			AND GOD_PEOPLE_NAME LIKE CONCAT('%',#{god_people_name},'%')
			AND PART_NAME = #{part_name}
			AND SELL_NAME IS NULL
	</select>
	
	<!-- 셀원추가 -->
	<update id="addSellPeople" parameterType="GPIDto">
		UPDATE /*셀원추가*/
			GOD_PEOPLE_INFO
		SET
			SELL_NAME = #{sell_name}
		WHERE
			CHURCH_CODE = #{church_code}
			AND PART_NAME = #{part_name}
			AND GOD_PEOPLE_NAME = #{god_people_name}
			AND BIRTHDAY = #{birthday}
	</update>
	
	<!-- 로그인 유저 정보 -->
	<select id="selectLoginUserInfo" resultType="String" parameterType="String">
		SELECT
			GOD_PEOPLE_NAME
		FROM 
			GOD_PEOPLE_INFO
		WHERE 
			ID = #{id}
	</select>
	
	<!-- 중복출석 검사시 -->
	<select id="examinDupliAttend" parameterType="AttendHistDto" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			ATTEND_HIST
		WHERE
			CHURCH_CODE = #{church_code}
			AND PART_NAME = #{part_name}
			AND SELL_NAME = #{sell_name}
			AND WORSHIP_DATE = #{worship_date}<!-- 오늘 날짜로 출석이력이 하나라도 있는가  -->
	</select>
	
	<!-- 출석처리 -->
	<insert id="insertAttendHist" parameterType="AttendHistDto">
		INSERT INTO
		ATTEND_HIST
			(
			 CHURCH_CODE,
			 PART_NAME,
			 SELL_NAME,
			 WORSHIP_DATE,
			 GOD_PEOPLE_NAME,
			 GOD_PEOPLE_BIRTHDAY,
			 LATE_YN
			)
		VALUES
			(
			 #{church_code},
			 #{part_name},
			 #{sell_name},
			 #{worship_date},
			 #{god_people_name},
			 #{god_people_birthday},
			 #{late_yn}
			)			
	</insert>
	
	<!-- 최근출석일 업데이트 -->
	<update id="updateLastAttend" parameterType="GPIDto">
		UPDATE
			GOD_PEOPLE_INFO
		SET
			LAST_ATTEND_DATE = #{last_attend_date}
		WHERE
			CHURCH_CODE = #{church_code}
			AND PART_NAME = #{part_name}
			AND SELL_NAME = #{sell_name}
	</update>
	
	<!-- 재적 등록 -->
	<insert id="insertNewPeople" parameterType="GPIDto">
		INSERT INTO
		GOD_PEOPLE_INFO
			( 
			 CHURCH_CODE,
			 PART_NAME, 
			 GOD_PEOPLE_NAME, 
			 BIRTHDAY, 
			 SELL_NAME, 
			 CELL_NO, 
			 CREATE_NM, 
			 CREATE_DATE 
			 )
		VALUES
			( 
			 #{church_code}, 
			 #{part_name}, 
			 #{god_people_name}, 
			 #{birthday}, 
			 #{sell_name}, 
			 #{cell_no}, 
			 #{create_nm}, 
			 SYSDATE()
			 )
	</insert>
</mapper>