<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDao">

	<!-- 로그인체크 -->
	<select id="loginSelect" resultType="GPIDto" parameterType="String" >
		SELECT 
			pw,
			pwd_fail_num
		FROM 
			GOD_PEOPLE_INFO
		WHERE
			id = #{inputId}
	</select>
	
	<!-- 비밀번호 오류횟수 증가 -->
	<update id="incrementPwdFailNum" parameterType="String">
		UPDATE
			GOD_PEOPLE_INFO
		SET 
			PWD_FAIL_NUM = PWD_FAIL_NUM + 1
		WHERE
			ID = #{inputId}
	</update>
	
	<!-- 교인검색 -->
	<select id="selectUser" parameterType="GPIDto" resultType="GPIDto">
		SELECT 
			GOD_PEOPLE_NAME,
			BIRTHDAY
		FROM
			GOD_PEOPLE_INFO
		WHERE
			CHURCH_CODE = #{church_code}
			AND GOD_PEOPLE_NAME = 
<!-- 			<![CDATA['%]]> -->
				#{god_people_name}
<!-- 			<![CDATA[%']]> -->
			AND ID IS NULL
			AND PW IS NULL
	</select>
	
	<!-- 교회코드 유효성 검사 -->
	<select id="testChurchCode" parameterType="String" resultType="String">
		SELECT 
			CASE 
				WHEN CHURCH_CODE IS NULL THEN 'N'
				ELSE 'Y'
				END
		FROM
			CHURCH_INFO
		WHERE 
			CHURCH_CODE = #{code}; 
	</select>
</mapper>